<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>code01-mvc-forex-request-jsp12</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ProcessConversionServlet</servlet-name>
		<servlet-class>edu.ust.iics.forex.controller.ProcessConversionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListRecordServlet</servlet-name>
		<servlet-class>edu.ust.iics.forex.controller.ListRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessConversionServlet</servlet-name>
		<url-pattern>/processconversion.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListRecordServlet</servlet-name>
		<url-pattern>/listrecords.html</url-pattern>
	</servlet-mapping>
</web-app>