<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>3CSB-CUNANAN-PATRICKBRYAN-MP2-MVC-SALES</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ProcessPay</servlet-name>
		<servlet-class>home.sales.controller.ProcessPay</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListRecord</servlet-name>
		<servlet-class>home.sales.controller.ListRecord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessPay</servlet-name>
		<url-pattern>/processpay.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListRecord</servlet-name>
		<url-pattern>/listrecord.html</url-pattern>
	</servlet-mapping>
</web-app>